body {
    background: url("../imgs/loginbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}


#register-box {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #ffffff60;
    padding: 20px 50px;
}

#register-box h1 {
    color: #000;
}

#register-box .item {
    margin-top: 20px;
}

#register-box .item input {
    border: none;
    border-bottom: black solid;
    padding: 7px 15px;
    background-color: #ffffff00;
}

#login-box .form .item i {
    font-size: 18px;
    color: #000;
}

#span1 {
    width: 150px;
    font-size: 15px;
    height: 20px;
    left:20px;
    padding: auto 50px;
    float: left;
}


#gender {
    margin-top: 15px;
    margin-left: 185px;
    text-align: left;
    height: 45px;
    width: 180px;
    border: none;

}

#register-button {
    margin-top: 30px;
    width: 170px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border: 0;
    border-radius: 15px;
}

